<mat-card>
    <mat-card-content>
      <h2 class="err">
        Page not found
    </h2>
      <p>
        You might want to go to the
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" mat-button routerLinkActive="active">Items</button>
    </mat-card-actions>
  </mat-card>