<!--<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<mat-card>
    <mat-card-content>
      <h2>List of items</h2>
      <mat-list>
            <item *ngFor = "let item of items$ | async" 
            [data] = item >
            </item>
      </mat-list>   
    </mat-card-content>
</mat-card>-->
<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div style="font-size: large;color: rgb(13, 0, 128);margin-top: 40px;">Items Table</div>

<table mat-table [dataSource]="items" class="mat-elevation-z8">

  <!-- mathAverage Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef  > name </th>
    <td mat-cell *matCellDef="let item" > {{item.first}} </td>
  </ng-container>

  <!-- psychometric Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef  > price </th>
    <td mat-cell *matCellDef="let item" > {{item.second}} </td>
  </ng-container>

  <!-- emailUser Column-->
  <ng-container matColumnDef="Available?">
    <th mat-header-cell *matHeaderCellDef  > Available? </th>
    <td  mat-cell *matCellDef="let item; let i = index"> 
      <mat-checkbox [(ngModel)]="isInInventory" (change) = "changeInventory()" (click)="changeInventory(i)"></mat-checkbox>
      <mat-form-field (change) = "changeInventory(i)" appearance="fill">
        <select   matNativeControl required>
          <option value="" >{{isInInventory}}</option>
          <option value="" >{{!isInInventory}}</option>
        </select>
    </mat-form-field>  
    </td>
  </ng-container> 

   <!-- result Column -->
    <ng-container matColumnDef="Result">
        <th mat-header-cell *matHeaderCellDef  > Result</th>
        <td mat-cell *matCellDef="let item" > {{item.result}} </td>
        <button  mat-raised-button (click)="predict()">
          Predict
        </button>
        <button  mat-raised-button>
          <span  [ngClass]="[result=='Available in stock' ? 'green' : 'red']">{{result}}</span>
        </button>
      </ng-container>
 
      <!-- delete Column-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef > delete </th>
        <td  mat-cell *matCellDef="let item; let i = index"> 
            <button mat-raised-button style="color: rgb(145, 10, 163)"
            *ngIf = "showdelete"
            (click) = "showAreYouSure()"
            >Delete
            </button> 
            <button  mat-raised-button (click)="deleteItem(i)" *ngIf = "areYouSure" style="color: rgb(145, 10, 163)">
              Click to delete
            </button>
            <button  mat-raised-button  (click)="hideAreYouSure()" *ngIf = "areYouSure" style="color: rgb(145, 10, 163)">
              Cancel
            </button>    
        </td>
      </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
