<!--<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<mat-list-item  (mouseenter) = "show()" (mouseleave) = "hide()">
    {{first}} {{second}}
    <mat-checkbox [(ngModel)]="isInInventory" (change) = "changeInventory()" (click)="changeInventory()"></mat-checkbox>
    <mat-form-field (change) = "changeInventory()" appearance="fill">
        <select   matNativeControl required>
          <option value="" >{{isInInventory}}</option>
          <option value="" >{{!isInInventory}}</option>
        </select>
    </mat-form-field>
    <div>
     <button  mat-raised-button (click)="predict()">
             Predict
     </button>
     <button  mat-raised-button>
         <span  [ngClass]="[result=='Available in stock' ? 'green' : 'red']">{{result}}</span>
     </button>
     <button *ngIf = "result&&!saved" mat-raised-button 
         color="primary"
         (click) = "updateResult()">
         Save
     </button>
     <button *ngIf = "saved" mat-raised-button 
         color="primary">
         saved
     </button>
    </div>      
    <button  mat-raised-button (click)="showAreYouSure()" *ngIf = "showdelete" >
        Delete
    </button>
    <button  mat-raised-button (click)="deleteItem()" *ngIf = "areYouSure">
        Click to delete
    </button>
    <button  mat-raised-button  (click)="hideAreYouSure()" *ngIf = "areYouSure">
        Cancel
    </button>    
    <mat-divider></mat-divider>
</mat-list-item>-->