<p *ngIf = "!(authService.getUser()| async)">Please login to see your list of items</p>
<mat-card>
    <mat-card-content>
        <h2>Hello</h2>
        <p> {{ (authService.user | async)?.email }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" mat-button routerLinkActive="active">Items</button>
    </mat-card-actions>
</mat-card>